@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: boder-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 250px;
    background: linear-gradient(88.27deg, #574AE8 100%, #3EA1DB 100%)
}

.itens {
    padding: 41px 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.box-search {
    display: flex;
    justify-content: center;
    padding: 41px 270px;
}

input {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #ffffff;
    line-height: 40px;
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: #ffffff;
    padding-left: 10px;
}